{% extends 'site-template/base.html' %}
  {% block userhome %}
  <!-- Page Wrapper -->
  <div id="wrapper" id="">

    <!-- Sidebar -->
    {% include 'user/sidbar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include 'site-template/navigation.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">SID PLATEFORME</h1>
          <p class="mb-4">SID PLATEFORME</p>
          <!-- DataTales Example -->
          {%  block add_memory %}
          {% endblock %}
          {% block registered_memory %}
          {% endblock %}
          {% block reset_password %}
          {% endblock %}
          {% block thread %}
          {% endblock %}
          {% block focus_thread %}
          {% endblock %}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'site-template/footer.html' %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  {% include 'site-template/logout.html' %}
{% endblock %}
 