<!DOCTYPE html>
{% extends "admin/index.html" %}

{% block reset_email %}

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div>
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div  class="card o-hidden border-0 shadow-lg my-9">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-5">Changer Email</h1>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                    {% if category == 'error' %}
                    <br>
                    <div class="alert alert-danger alter-dismissable" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alter-dismissable" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor%}
                    {% endwith %}
                    <p class="mb-4">Vous allez utiliser ce nouveau adresse lors de votre prochaine connexion!</p>
                  </div>
                  <form method="POST" class="user">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Enter Email Address...">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                     changer email
                    </button>
                  </form>
                  <hr>
                </div>
            </div>
          </div>
        </div>

    </div>

  </div>
{% endblock %}
 